# Arquivos sensíveis
.env
config/database.php

# VS Code
.vscode/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak

# Dependências futuras
vendor/
node_modules/

# Sistema operacional
.DS_Store
Thumbs.db